{% extends "::base.html.twig" %}

{% block title %}Erreur critique !{% endblock %}

{% block body %}
<h1>Oups</h1>
<p> Une erreur critique (ID : {{ id }}) empêche le système de fonctionner. Merci de laisser un message avec votre pseudo, ce que vous étiez en train de faire, sur le forum pour que cette erreur soit corrigée. Merci. </pe
{% endblock %}
