{% extends "::base.html.twig" %}

{% block title %}Liste des fiches à valider{% endblock %}

{% block body %}
<h1>Liste des personnages à valider</h1>
{{ include('CamaInflusBundle:Perso:form.html.twig',{'clan': clan, 'clans':clans}) }}
<table>
<thead>
<tr>
<th>Nom du personnage</th>
<th>Joueur</th>
<th>Clan</th>
<th>Action</th>
</tr></thead>
<tbody>
{% for perso in persos %}
        {{ include('CamaInflusBundle:Perso:ligneav.html.twig', { 'perso': perso }) }}
{% endfor %}
</tbody>
</table>
{{ include('CamaInflusBundle::footer.html.twig') }}
{% endblock %}
