<form method='get' id="filter">
<label for="clan">Filtrer : </label><select id="clan" name="clan">
<option value="" {% if clan|length < 1 %} selected {% endif %}>Tous</option>
{% for c in clans %}
    <option value="{{c}}"{% if c == clan %} selected {% endif %}>{{c}}</option>
{% endfor %}
</select>
<script>
    $("#clan").change( function(){
        $('#filter').submit();
    });
</script>
</form>
{% if clan|length > 0 %}
Filtrage : {{clan}}
{% endif %}