<p> Personnage : {{name}} (clan {{clan}})</p>
<p>Attention : merci de recopier strictement votre feuille de personnage et de ne pas improviser ou rajouter des choses.
(Sinon la fiche ne sera pas validée ...)</p>
{{ form(form) }}
<script>
// Récupère le div qui contient la collection 
var collectionHolderS =  fix($('#Possesseur_servant'));
var collectionHolderR =  fix($('#Possesseur_refuge'));
var collectionHolderV =  fix($('#Possesseur_vehicule'));
var collectionHolderE =  fix($('#Possesseur_etiquette'));
var collectionHolderI =  fix($('#Possesseur_influence'));

function fix(target) {
    target.addClass("coll_block");
    return  fix_label(target);
}
function fix_label(target) {
    target.children("div").children("label").css("display","none").each( function(){
        if($(this).children("a.remove_link").length() < 1){
            var $addLinkDelete = $('<a href="#" class="btn remove_link">X</a>');
            $(this).append($addLinkDelete);
            $addLinkDelete.on('click', function(e) {
                e.preventDefault();
                $(this).parent().remove();
            });
        }
    });
    return target;
}


// ajoute un lien « add a tag »
var $addLinkS = $('<a href="#" class="btn btn_add add_servant_link">Ajouter un servant</a>');
var $addLinkR = $('<a href="#" class="btn btn_add add_refuge_link">Ajouter un refuge</a>');
var $addLinkV = $('<a href="#" class="btn btn_add add_vehicule_link">Ajouter un véhicule</a>');
var $addLinkE = $('<a href="#" class="btn btn_add add_etiquette_link">Ajouter une compétence étiquette</a>');
var $addLinkI = $('<a href="#" class="btn btn_add add_influence_link">Ajouter une influence</a>');



jQuery(document).ready(function() {
    // ajoute l'ancre « ajouter un tag » et li à la balise ul
    collectionHolderS.append($addLinkS);
    collectionHolderV.append($addLinkV);
    collectionHolderR.append($addLinkR);
    collectionHolderE.append($addLinkE);
    collectionHolderI.append($addLinkI);
    
    $('#Possesseur_refuge').children("div").children("div").each(function() {
        var id='#'+($(this).attr("id"))+"_lignes";
        collectionHolderNew = $(id);
        fix_label(collectionHolderNew);
        var $addLinkN = $('<a href="#" cible="'+id+'"class="btn btn_add add_securite_link">Ajouter une ligne</a>');
        
        collectionHolderNew.append($addLinkN);
        $addLinkN.on('click', function(e) {
            e.preventDefault();
            text_cible = $(this).attr('cible');
            addForm($(text_cible),"Vehicule");
            fix_label($(text_cible));
        });
    });

    $addLinkV.on('click', function(e) {
        e.preventDefault();
        addForm(collectionHolderV,"Vehicule");
    });

    $addLinkR.on('click', function(e) {
        e.preventDefault();
        addForm(collectionHolderR,"Refuge");
    });

    $addLinkE.on('click', function(e) {
        e.preventDefault();
        addForm(collectionHolderE,"Etiquette");
    });

   $addLinkS.on('click', function(e) {
        e.preventDefault();
        addForm(collectionHolderS,"Servant");
    });

    $addLinkI.on('click', function(e) {
        e.preventDefault();
        addForm(collectionHolderI, "Influence");
    });

    function addForm(collectionHolder, name) {
    	var prototype = collectionHolder.attr('data-prototype');
    	var newForm = prototype.replace(/__name__label__/g,name).replace(/__name__/g, collectionHolder.children().length);
        collectionHolder.prepend(newForm);
        fix_label(collectionHolder);
    }
});
</script>
