<tr>
<td>{{ perso.nom }}</td>
<td>{{ perso.clan }}</td>
<td>{{ perso.joueur }}</td>
<td>{% if perso.inactif %}
Inactif
{% else %}
Actif
{% endif %}</td>
<td> 
<a href="{{ path('voirPerso', {'id': perso.id}) }}">Voir</a> 
</td>

</tr>
