{% extends "::base.html.twig" %}

{% block title %}Création d'une date de retour {% endblock %}
{% block body %}
<h1>Création d'une date de retour d'influence</h1>
{{ form(form) }}
<br />
{{ include('CamaInflusBundle::footer.html.twig') }}
{% endblock %}
