<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
    </head>
    <body>
	    <div id="title">
	    	InflusWeb Camarilla Lyonnaise
	    </div>
	    <div id="main">
	        {% block body %}{% endblock %}
	    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
