<tr>
<td>
    <select>
        <option value=''>Aucune</option>
        {% for key, act in actionlist %}
        <option value="{{ key }}"> {{act.shorttext}}  </option>
        {% endfor %}
    </select>
</td>
</tr>