<table id="attributetable">
    <tr><th colspan="2">Amélioration d'attribut</th></tr>
    <tr><td>S'entrainer en :</td>
    <td><select id="amelio_attr" value="amelio_attr">
            <option value="" >Aucun</option>
            <option value="P">Physique</option>
            <option value="S">Social</option>
            <option value="M">Mental</option>
        </select>
    </td>
    </tr>
</table>