<table id="infotable">
    <tr><th colspan="2">Informations complémentaires</th></tr>
    <tr>
        <td>
            Dites ici toutes les informations que vous voulez, <br />
            afin d'éclairer les conteurs sur vos actions.
        </td>
        <td>
            <textarea id="justif_final" name="justif_influ" cols="60" rows="5">
            </textarea>
        </td>
    </tr>
</table>