{% extends "::base.html.twig" %}

{% block title %}Gestion de ma fiche d'inter-partie {% endblock %}
{% block body %}
<h1>Gestion de ma fiche d'inter-partie</h1>
<h2>{{ perso.nom }} {{ perso.clan }} -  {{ mois }} {{ perso.annee }}</h2>
<h3>Actions vampiriques</h3>
<h3>Actions d'influence</h3>
<h3>Commentaires</h3>
{% endblock %}
