<tr class="choix"
      <td>Nom </td>
      <td>Attaque</td>
      <td>Défense</td>
      <td>Dissimuler</td>
      <td>Pister</td>
      <td>Espionner</td>
      <td>Croissance</td>
      <td>Transfert</td>
      <td>Observation</td>
      <td>Spécifique</td>
</tr>

<tr>
<td colspan="9" class="justif">
Justification : 
</td>
</tr>

<tr>
<td colspan="9" class="info">
Domaine : Y / Score total : Influence X + Etiquette Y / Max dans une colonne : X.
</td>
</tr>
