<tr class="choix">
      <td> {{ influence.nom }} </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
</tr>
<td></td>
<tr>
<td colspan="9" class="justif">
Justification : 
</td>
</tr>

<tr>
<td colspan="9" class="info">
Domaine : {{ influence.textType }} / Score total : Influence {{ influence.niveau }} + Etiquette Y / Max dans une colonne : {{ influence.niveau }}.
</td>
</tr>
