{% extends "::base.html.twig" %}

{% block title %}Création d'une feuille de PNJ non interprêté{% endblock %}
{% block body %}
<h1>Creation d'une feuille de PNJ non interprêté </h1>
{{ include('CamaInflusBundle::footer.html.twig',{'form': form}) }}
{{ include('CamaInflusBundle:Pnj:form.html.twig') }}
{% endblock %}

