{{ form(form) }}
<script>
// Récupère le div qui contient la collection 
var collectionHolderI = $('#IA_influence').addClass("coll_block");
var collectionHolderE = $('#IA_etiquette').addClass("coll_block");
// ajoute un lien « add a tag »
var $addLinkI = $('<a href="#" class="btn btn_add add_influence_link">Ajouter une influence</a>');
var $addLinkE = $('<a href="#" class="btn btn_add add_etiquette_link">Ajouter une etiquette</a>');
jQuery(document).ready(function() {
    // ajoute l'ancre « ajouter un tag » et li à la balise ul
    
    collectionHolderI.append($addLinkI);
    collectionHolderE.append($addLinkE);
    $addLinkE.on('click', function(e) {
        e.preventDefault();
        addForm(collectionHolderE, "Etiquette");
    });
    $addLinkI.on('click', function(e) {
        e.preventDefault();
        addForm(collectionHolderI, "Influence");
    });

    function addForm(collectionHolder, name) {
    	var prototype = collectionHolder.attr('data-prototype');
    	var newForm = prototype.replace(/__name__label__/g,name).replace(/__name__/g, collectionHolder.children().length);
        collectionHolder.prepend(newForm);
    }
});
</script>
